body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  background: url("../images/backgrounds/salmon.jpg") no-repeat fixed center;
  background-size: cover; }

button, #header .search-bar #search {
  padding: 12px 10px;
  border-radius: 4px;
  border: 2px solid #A94442;
  background-color: #A94442;
  color: white; }

.button-sm {
  padding: 6px;
  font-size: 12px; }

#header h1 {
  font-family: 'Bree Serif', serif;
  color: red;
  float: right; }

#header .search-bar {
  margin: 20px 0; }
  #header .search-bar input {
    width: 50%;
    padding: 12px;
    border: 2px solid #A94442;
    border-radius: 4px;
    float: left; }
  #header .search-bar #search {
    float: left;
    position: relative;
    left: -3px; }

.search-column h2 {
  background-color: #C3BD9B;
  margin: 0;
  padding: 10px 10px 0; }

.description {
  display: block; }

#results-list {
  background-color: #C3BD9B;
  padding: 14px;
  margin-top: 0; }
  #results-list .result {
    list-style-type: none;
    display: block;
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-bottom: 10px; }
    #results-list .result .more {
      float: right;
      position: relative;
      top: -25px; }
    #results-list .result:hover {
      background-color: rgba(255, 255, 255, 0.5);
      cursor: pointer; }

#singlefooddiv {
  background-color: white;
  padding: 20px; }
  #singlefooddiv .serving-input {
    text-align: right; }
    #singlefooddiv .serving-input input {
      width: 50px;
      margin: 0 10px; }
