<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NutriTracker: Watch Your Intake</title>
  <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
  <section id="nutritracker-app">
    <header id="header">
      <h1>NutriTracker</h1>
      <input type="text" placeholder="What did you eat today?" id="food-input">
      <button id="search">Search Food</button>
    </header>

    <!-- Search results section -->
    <ul id="results-list"></ul>
  </section>

  <script id="results-template" type="text/template">
  <li class="result">
    <span class="description"><strong><%= name %>, <%= brand %></strong></span>
    <span class="description">Serving size: <%= servingSize%> <%= servingUnit %></span>
    <span class="description">Calories: <%= calories %></span>
  </li>
  </script>
   
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
  <script src="js/models/item.js"></script>
  <script src="js/collections/list.js"></script>
  <script src="js/views/itemview.js"></script>
  <script src="js/views/app.js"></script>
  <script src="js/routers/router.js"></script>
  <script src="js/app.js"></script>
</body>
</html>