<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NutriTracker: Watch Your Intake</title>
  <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
  <div class="container-fluid" id="nutritracker-app">
    <div class="row" id="header">
      <div class="col-xs-6 col-xs-push-6">
        <h1>NutriTracker</h1>
      </div>
      <div class="search-bar col-xs-6 col-xs-pull-6">
        <input type="text" placeholder="What did you eat today?" id="food-input">
        <button id="search">Search Food</button>
      </div>
   </div>
   <div class="row">
     <div class="col-xs-12 navigation">
       <ul class="nav-menu">
         <li><a href="#details">Food Details</a></li>
         <li><a href="#mylist">My List</a></li>
         <li><a href="#mytracker">My NutriTracker</a></li>
       </ul>
     </div>
   </div>
    <div class="row">
      <div class="col-sm-5 search-column">
        <h2>Search Results</h2>
        <p class="search-intro">Search for a food to get started.</p>
        <!-- Search results section -->
        <ul id="results-list"></ul>
      </div>
      <div class="col-sm-7">
        <div id="singlefooddiv">
          <h2>Food Detail</h2>
          <p>Details of your searched food will be displayed here.</p>
        </div>
        <div id="listdiv">
          <h2>My List</h2>
          <p class="intro-text">No foods here yet. Add a food to get started.</p>
          <ul class="foodlist"></ul>
        </div>
        <div id="trackerdiv">
          <h2>My Tracker</h2>
          <p>Keep track of your total food and nutritional consumption here.</p>
        </div>
      </div>
    </div>
  </div> <!-- end container-fluid -->

  <script id="tracker-template" type="text/template">
    <h2>My Tracker</h2>
    <div class="tracker-holder">
      <p class="cal-total">Total Calories: <span class="cals-total-num"><%= totalcals %></span> / <span class="default-num">2000</span></p>
      <h3>Nutrition Totals</h3>
      <ul>
        <li>Fiber: <%= totalfiber %> grams</li>
        <li>Protein: <%= totalprotein %> grams</li>
        <li>Sodium: <%= totalsodium %> mg</li>
        <li>Sugar: <%= totalsugar %> grams</li>
        <li>Fat: <%= totalfat %> grams</li>
        <li>Carbohydrates: <%= totalcarbs %> grams</li>
      </ul>
      <h3>% Daily Values</h3>
      <p class="daily">Vitamin A</p>
      <div class="progress">
        <div class="progress-bar progress-bar-striped vit-a" role="progressbar">
          <%= totalvita %>
        </div>
      </div>
      <p class="daily">Vitamin C</p>
      <div class="progress">
        <div class="progress-bar progress-bar-striped vit-c" role="progressbar">
          <%= totalvitc %>
        </div>
      </div>
      <p class="daily">Calcium</p>
      <div class="progress">
        <div class="progress-bar progress-bar-striped calcium" role="progressbar">
          <%= totalcalcium %>
        </div>
      </div>
    </div>
  </script>
  <script id="food-item-template" type="text/template">
  <span class="glyphicon glyphicon-remove-sign remove"></span>
    <p><%= name %></p>
    <span>You had: <%= servings %> servings</span> 
    <span class="alignright">Your calories: <%= calories %></span>
  </script>

  <script id="food-detail-template" type="text/template">
    <div class="single-food">
      <h2>Food Detail</h2>
      <span class="description"><span class="item-name"><%= name %></span>, <%= brand %></span>
      <span class="description">Serving size: <%= servingSize%> <%= servingUnit %></span>
      <span class="description"><span class="calories"><%= calories %></span> calories</span>
      <p>Nutrition Breakdown</p>
      <ul>
        <li>Fiber: <span class="fiber"><%= fiber %></span> grams</li>
        <li>Protein: <span class="protein"><%= protein %></span> grams</li>
        <li>Sodium: <span class="sodium"><%= sodium %></span> mg</li>
        <li>Sugar: <span class="sugar"><%= sugar %> </span>grams</li>
        <li>Fat: <span class="fat"><%= fat %></span> grams</li>
        <li>Carbohydrates: <span class="carbs"><%= carbs %></span> grams</li>
        <li>Calcium: <span class="calcium"><%= calcium %></span>% daily value</li>
        <li>Vitamin A: <span class="vita"><%= vitA %></span>% daily value</li>
        <li>Vitamin C: <span class="vitc"><%= vitC %></span>% daily value</li>
      </ul>
      <div class="serving-input">
        <label for="servings">Number of servings: </label><input type="number" id="servings"><button class="button-sm" id="addfood">Add Food</button>
      </div>
    </div>
  </script>

  <script id="results-template" type="text/template">
  <li class="result" data-id="<%= id %>">
    <span class="description"><strong><%= name %>, <%= brand %></strong></span>
    <span class="description">Serving size: <%= servingSize%> <%= servingUnit %></span>
    <span class="description"><%= calories %> calories</span>
    <span class="more">Details &raquo;</span>
  </li>
  </script>
   
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
  <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
  <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>
  <script src="js/models/food.js"></script>
  <script src="js/collections/foodlist.js"></script>
  <script src="js/views/food-item-view.js"></script>
  <script src="js/views/food-list-view.js"></script>
  <script src="js/views/tracker-view.js"></script>
  <script src="js/views/singlefooddetail.js"></script>
  <script src="js/views/app.js"></script>
  <script src="js/routers/router.js"></script>
  <script src="js/app.js"></script>
</body>
</html>